{
    "name": "calico",
    "type": "flannel",
    "delegate": {
        "type": "calico",
        "etcd_endpoints": "{{ etcd_endpoints }}",
        "log_level": "none",
        "log_level_stderr": "info",
        "hostname": "{{ ansible_env.COREOS_PUBLIC_IPV4 }}",
        "policy": {
            "type": "k8s",
            "k8s_api_root": "https://{{ master_host }}:443/api/v1/",
            "k8s_client_key": "/etc/kubernetes/ssl/worker-key.pem",
            "k8s_client_certificate": "/etc/kubernetes/ssl/worker.pem"
        }
    }
}
